.text-menu{
	color: #ffffff;
	font-size: 28px;
}

.navbar-toggler{

	min-height: 50px;
	min-width: 50px;
}

.navbar-main h2{
	min-height: 150px;
	text-align: center;
}

.bg-primary{
	background: #87CEEB!important;
}

.card-body{
	background: #f2f2f2;
	height: 90px;
	display: inline-block;
	margin: 0px;
}

.hexagon-icon{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width: 48px;
	float:left;
	padding-left: 0px;

}

.info-icon{ 
	float: right;

}

.star-icon{
	width: 48px;
	height: 48px;
	float: left;
}

.folder-icon{
	float: left;
}













